#suit_content_buy_number a {
    position: relative;
    width: 80px;
    height: 30px;
    display: block;
    float: left;
    margin: 3px 3px;

    font-family: "fansCard";
    font-weight: bold;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
}

.suit_content_buy_number_no {
    background-color: rgb(64, 64, 64);
    cursor: default;
}

.suit_content_buy_number_yes {
    background-color: blue;
    cursor: pointer;
}
