#fan-number-content {
    width: 405px;
    height: calc(100% - 30px);
}

.fan-number-list-box {
    width: 405px;
    height: 520px;
    overflow: auto;
    border-radius: 5px;
}

.fan-number-list-box::-webkit-scrollbar {
    width: 5px;
}

.fan-number-list-box::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.fan-number-list-box div {
    width: 400px;
    overflow: hidden;
}

.fan-number-list-box div a {
    display: block;
    font-family: "fansCard";
    user-select: none;
    font-weight: bold;
    float: left;
    font-size: 16px;
    border-radius: 8px;
    line-height: 30px;
    margin: 5px 8px;
    width: 84px;
    height: 30px;
    text-align: center;
    transition: 300ms;
}

#fan-number-content button {
    width: 80px;
    height: 25px;
    transition: 300ms;
    border-style: none;
    position: relative;
    float: right;
    background-color: rgba(240, 240, 240, 0.8);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin-left: 10px;
    top: 6px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

#fan-number-content button:hover {
    background-color: rgba(240, 240, 240, 1);
    color: rgba(0, 0, 0, 1);
}

.fan-number-item-no {
    background-color: wheat;
    cursor: default;
}

.fan-number-item-yes {
    background-color: blue;
    cursor: pointer;
}

.fan-number-item-choose {
    background-color: brown;
    cursor: pointer;
}