/* 装扮列表盒子 */

.suit-list-item-box {
    height: 100%;
    width: 255px;
}

/* 装扮列表头部盒子 */

.suit-list-text {
    height: 20px;
    width: 100%;
}

/* 装扮列表粉丝卡片盒子 */

.suit-list-box {
    width: 100%;
    height: 540px;
    overflow: auto;
}

.suit-list-box::-webkit-scrollbar {
    width: 5px;
}

.suit-list-box::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* 装扮列表尾部盒子 */

.suit-list-botton-box {
    width: 100%;
    height: 30px;
}

/* 装扮列表尾部盒子[按钮/选项]盒子 */

.suit-list-botton-box div {
    float: left;
}

.suit-list-botton, .suit-list-select {
    height: 30px;
}

/* 装扮列表尾部盒子[按钮/选项]样式 */

.suit-list-botton button {
    position: relative;
    height: 25px;
    top: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    border-style: none;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
}

.suit-list-botton button:hover {
    background-color: rgba(240, 240, 240, 1);
    color: rgba(0, 0, 0, 1);
}

#update-suit-list {
    width: 100px;
}

#apply-suit-list {
    width: 50px;
}

.suit-list-select {
    text-align: center;
    width: 100px;
}

#suit-list-sort-option {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 95px;
    height: 25px;
    border-style: none;
    font-weight: bold;
    outline: none;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: 300ms;
}

#suit-list-sort-option:hover {
    background-color: rgba(240, 240, 240, 1);
    color: rgba(0, 0, 0, 1);
}

/* 装扮列表头部盒子内容样式 */

#suit-amount {
    position: absolute;
    user-select: none;
    height: 20px;
    left: 5px;
    font-weight: bold;
    line-height: 20px;
    color: azure;
}

#suit-reverse-button {
    position: absolute;
    border: none;
    right: 0;
    top: 2px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    border-style: none;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
}

#suit-search-button {
    position: absolute;
    right: 45px;
    top: 2px;
    height: 16px;
    line-height: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    border-style: none;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
}

#suit-search-button:hover, #suit-reverse-button:hover {
    background-color: rgba(240, 240, 240, 1);
    color: rgba(0, 0, 0, 1);
}

/* 粉丝卡片 */

.suit-list-box ul {
    list-style: none;
    font-size: 0;
}

.suit-list-box ul li {
    font-size: 16px;
    width: 250px;
	height: 100px;
    margin: 5px 0;
    border-radius: 10px;
    position: relative;
    right: 40px;
    cursor: pointer;
}

.suit-list-box ul li div img {
    width: 250px;
    height: 100px;
    background-size: cover;
    object-fit: cover;
    user-select: none;
    border-radius: 10px;
}

.suit-list-box ul li div span {
    display: block;
    position: absolute;
}

.fan_card_number_text, 
.fan_card_date_text, 
.fan_card_name, 
.fan_card_number, 
.fan_card_date {
    color: rgba(255, 255, 255, 0.5);
    left: 10px;
}

.fan_card_number_text {
    top: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.fan_card_date_text {
    top: 62px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.fan_card_name {
    top: 8px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.fan_card_number {
    color: rgba(255, 255, 255, 1);
    font-family: "fansCard";
    top: 47px;
    font-size: 14px;
}

.fan_card_date {
    color: rgba(255, 255, 255, 1);
    top: 75px;
    font-size: 14px;
}

.fan_card_own_num {
    right: 6px;
    bottom: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 40px;
    height: 12px;
    border-radius: 20px;
    font-family: "fansCard";
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
