/* 装扮列表 */

.fan-cards-item-box {
    height: 100%;
    width: 255px;
}

.fan-cards-list-box {
    width: 100%;
    height: calc(100% - 25px);
    overflow: auto;
}

.fan-cards-list-box::-webkit-scrollbar {
    width: 5px;
}

.fan-cards-list-box::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* 卡片 */

.fan-cards-list-box ul {
    list-style: none;
    font-size: 0;
}

.fan-cards-list-box ul li {
    font-size: 16px;
    width: 250px;
    height: 100px;
    margin: 5px 0;
    border-radius: 10px;
    position: relative;
    right: 40px;
    cursor: pointer;
}

.fan-card-content img {
    width: 250px;
    height: 100px;
    background-size: cover;
    object-fit: cover;
    user-select: none;
    border-radius: 10px;
}

.fan-card-content span {
    display: block;
    position: absolute;
}

.fan-card-number-text, 
.fan-card-date-text, 
.fan-card-name, 
.fan-card-number, 
.fan-card-date {
    left: 10px;
}

.fan-card-number-text,
.fan-card-date-text {
    color: rgba(255, 255, 255, 0.5);
}


.fan-card-name,
.fan-card-number,
.fan-card-date,
.fan-card-own-num {
    color: rgba(255, 255, 255, 1);
}

.fan-card-own-num,
.fan-card-number {
    font-family: "fansCard";
}

.fan-card-name {
    top: 8px;
    font-size: 16px;
    font-weight: bold;
}

.fan-card-number-text {
    top: 30px;
    font-size: 14px;
}

.fan-card-number {
    top: 47px;
    font-size: 16px;
}

.fan-card-date-text {
    top: 62px;
    font-size: 12px;
}

.fan-card-date {
    top: 75px;
    font-size: 14px;
}

.fan-card-own-num {
    background-color: rgba(0, 0, 0, 0.8);
    right: 6px;
    bottom: 4px;
    width: 40px;
    height: 12px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
}


/* 装扮列表 */

.fan-cards-item-box {
    height: 100%;
    width: 255px;
}

.fan-cards-title {
    height: 25px;
    width: 100%;
    text-align: center;
}

.fan-cards-list-box {
    width: 100%;
    height: calc(100% - 25px);
    overflow: auto;
}

.fan-cards-list-box::-webkit-scrollbar {
    width: 5px;
}

.fan-cards-list-box::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* 装扮列表[头] */

.fan-cards-title {
    height: 25px;
    width: 100%;
}

#back img {
    user-select: none;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
}

#back, 
#fan-cards-search, 
#fan-cards-sort {
    background: transparent;
    float: left;
    border-style: none;
    outline: none;
    user-select: none;
    font-size: 14px;
}

#back {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#fan-cards-search {
    height: 23px;
    width: 180px;
    color: rgba(255, 255, 255, 1);
}

#fan-cards-sort {
    height: 25px;
    width: 46px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

/* 附加 */

