.line-box {
    width: 14px;
    height: 100%;
}

.line-box .line {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 3px;
    height: 100%;
    left: 6px;
    border-radius: 5px;
}
