/* main */

@font-face {
    font-family: "fansCard";
    src:url("/assets/fonts/fansCard.ttf");
}

body {
    margin: 5px;
    height: 590px;
    width: 290px;
    background-color: #202020;
}

.box {
    position: relative;
    float: left;
}

.line-box {
    width: 14px;
    height: 100%;
}

.line-box .line {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    width: 3px;
    height: 100%;
    left: 6px;
    border-radius: 5px;
}

/* ------------------------------------- */

.top-bottom-button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 20px;
    overflow: clip;
}

.top-bottom-button button {
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-style: none;
    outline: none;
    user-select: none;
    background-color: #202020;
}

.top-bottom-button button img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    right: 5px;
}

.content-box {
    width: 20px;
    height: 100%;
}

#refresh-button {
    background: transparent;
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-style: none;
    outline: none;
    user-select: none;
}

#refresh-button img {
    position: absolute;
    user-focus: none;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}

/* ------------------------- */

#options-ico {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    transition: 300ms;
}

#options-list {
    right: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    transition: 300ms;
    background: transparent;
    opacity: 1;
    overflow: hidden;
    text-align: center;
}

#options-list button {
    position: relative;
    width: 80px;
    height: 30px;
    top: 20px;
    margin: 2px auto;
    cursor: pointer;
    border-style: none;
    outline: none;
    user-select: none;
    border-radius: 5px;
    transition: 300ms;
}

#options-list:hover {
    width: 100px;
    height: 160px;
    background: #202020;
    border: 1px solid rgb(255, 255, 255);
}

#options-list:hover .sort-button {
    top: 10px;
}

#options-list:hover #options-ico {
    opacity: 0;
}

#reverse-button {
    background: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-style: none;
    outline: none;
    user-select: none;
    top: 30px;
}

#reverse-button img {
    position: absolute;
    width: 20px;
    height: 20px;
    user-select: none;
    top: 0;
    left: 0;
}